{% extends 'layout.twig' %}

{% block h1 %}Category members{% endblock %}
{% block main %}
{% if items|length == 0 %}
Items not found.
{% else %}
<table id="category-list">
{% for item in items %}
<tr id="{{ item.id }}">
<td><a href="https://en.wikipedia.org/wiki/{{ item.page }}">{{ item.page }}</a> (<a href="https://www.wikidata.org/wiki/{{ item.id }}">{{ item.id }}</a>)</td>
<td>{{ item.label }}</td>
<td>{{ item.description }}</td>
<td><a href="/item/{{ item.id }}">view</a></td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
