{% extends 'layout.twig' %}

{% block h1 %}Category members{% endblock %}
{% block main %}
{% if items|length == 0 %}
Items not found.
{% else %}
<table class="table" id="category-list">
<thead>
<tr>
<th></th>
<th>Item</th>
<th>Label</th>
<th>Description</th>
<th>Details</th>
</tr>
</thead>
<tbody>
{% for item in items %}
<tr id="{{ item.id }}">
<td>{{ loop.index }}</td>
<td><a href="https://www.wikidata.org/wiki/{{ item.id }}">{{ item.id }}</a></td>
<td>{{ item.label }}</td>
<td>{{ item.description }}</td>
<td><a href="/item/{{ item.id }}">{% if is_granted('IS_AUTHENTICATED_FULLY') %}
edit
{% else %}
view
{% endif %}</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% endblock %}
