{% extends 'layout.twig' %}

{% block h1 %}{{ id }}{% endblock %}
{% block main %}
<h2 id="label">{{ label }}</h2>
<div id="description">
<span class="desc-text">
{% if description %}
{{ description }}
{% else %}
add description
{% endif %}
</span>
<span class="edit-link">[<a href="{{ app.request.basepath }}/item/{{ id }}/edit">edit</a>]</span></div>
<div id="snippet">{{ snippet|raw }}</div>

{% endblock %}
